<footer class="flex-shrink-0 flex flex-row border-t text-center border-zinc-700 align-middle justify-center">
  <p class="p-2">© 2025 cobre</p>
  <p class="p-2 pl-4 border-l border-zinc-700">
    <a href="https://github.com/cobredev/cobre.dev/" class="arrow-external">Source</a>
  </p>
</footer>