<footer class="flex-shrink-0 flex flex-row border-t text-center border-stone-700 align-middle justify-center">
  <p class="p-2">Hosted with
    <a href="https://pages.cloudflare.com/" class="arrow-external">Cloudflare</a>
    ⚡
  </p>
  <p class="p-2 pl-4 border-l border-stone-700">
    <a href="https://github.com/Zlushiie/portfolio/" class="arrow-external">Source</a>
  </p>
</footer>