<footer class="flex-shrink-0 flex flex-col border-t text-center border-stone-700">
  <p class="m-2">Hosted on
    <a href="https://github.com/Zlushiie/zlushiie.github.io" class="arrow-external">Github</a>
    with ⚡
  </p>
</footer>