<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link
    rel="preload"
    href="{{ '/assets/css/style.css' | url }}"
    as="style">
  <link
    rel="stylesheet"
    href="{{ '/assets/css/style.css' | url }}"
    media="print"
    onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}"></noscript>
  <meta name="description" content="Peter Bossev's portfolio site.">
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/apple-touch-icon.png">
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon-32x32.png">
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>