<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <meta name="description" content="Peter Bossev's portfolio site.">

</head>