<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  {% include "_header.liquid" %}
  <body class="font-roboto bg-stone-900 text-stone-200 underline-offset-4 flex flex-col min-h-screen justify-between">
    {{ content }}
  </body>
</html>