---
layout: base.liquid
---

<div>
  {% include "_back.liquid" %}
  <h1 class="mt-2">
    {{ title }}
  </h1>
  <small class="text-zinc-400">This is a
    <a href="https://nownownow.com/about" class="arrow-external">now page</a>, and if you have a site, you should write one, too.</small>
</div>

{{ content }}