@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --red: #ff453a;
    --orange: #ff9f0a;
    --green: #00cc66;
    --mint: #66d4cf;
    --blue: #0a84ff;
    --purple: #df5af2;
    --pink: #ff375f;
    font-family: 'Fira Code', monospace;
}

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-lg;
    }
}

/* .animate {
    --sal-duration: 600ms;
    --sal-easing: 'ease-out-back';
 } */

/*.dir {
    color: var(--green);
} */
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

tr td {
    padding-right: 1rem;
}

table {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    white-space: nowrap;
}

thead {
    border-bottom-width: 1px;
    @apply border-stone-700;
}

div:has(> table) {
    overflow-x: auto;
}

.gold {
    background-color: rgba(255, 215, 0, .2);
}

.silver {
    background-color: rgba(192, 192, 192, .2);
}

.bronze {
    background-color: rgba(205, 127, 50, .2);
}

.flutter {
    color: #20bcfd;
}

.eleventy {
    color: #fff;
    background-color: #212121;
}

.tailwind {
    color: #38bdf8;
}

.arduino {
    color: #008184;
}

.liquid {
    color: #3399cc;
}

.nodejs {
    color: #5aaa46;
}

.typescript {
    color: #3178c6;
}

.html {
    color: #eb5827;
}

.css {
    color: #2758eb;
}

.latex {
    color: #008080;
}

.rust {
    color: #f74c00;
}

small {
    @apply text-stone-500;
}

ul {
    list-style: none;
    @apply lg:columns-2;
    @apply xl:columns-3;
}

ul li:before {
    content: '→ ';
    color: var(--green);
}

.green {
    color: var(--green);
}

em {
    color: var(--green);
}

a:link {
    text-decoration-color: var(--blue);
}

a {
    @apply text-stone-300;
    text-decoration-color: transparent;
    text-decoration: underline;
    transition: all 0.3s ease;
}

a:visited {
    text-decoration-color: var(--purple);
}

a:hover {
    text-decoration-color: var(--red);
}

/*
Arrows
*/

.arrow-external:after {
    content: '↗';
}



/* 
NEVER EVER TOUCH THIS CODE 
*/

/* latin-ext */
/* @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */
