---
title: Track and Field 🤾‍♂️
dateLabel: January 2024 - present
description: A collection of all my throws.
---

<div>
  <h1 class="mb-2">Competitions 👨‍⚖️</h1>
  <table class="w-full text-sm">
    <thead class="border-b border-stone-700">
      <tr>
        <td>Date</td>
        <td>Meet</td>
        <td>Shotput</td>
        <td></td>
        <td>Discus</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3/28/2024</td>
        <td>Owen Valley vs BN, Edgewood</td>
        <td>30' 4"</td>
        <td>19/29</td>
        <td>77' 3.5"
        </td>
        <td>23/28</td>
      </tr>
      <tr>
        <td>2/9/2024</td>
        <td>IU Track Club Mock Meet
        </td>
        <td>24' 7"</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>