---
title: Scioly 🔬
tags: extracurriculars
description: A collection of all my rankings in <a href="https://scioly.org/" class="arrow-external">Scioly</a>.
---

<div>
  <h1 class="mb-2">State</h1>
  <table class="w-full text-sm">
    <thead class="border-b border-stone-700">
      <tr>
        <td>Name</td>
        <td>Ranking</td>
        <td>Event</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Indiana State '23</td>
        <td>1/14</td>
        <td>Cybersecurity†</td>
      </tr>
    </tbody>
  </table>
  <small>† These were Trial events for the given year.</small>
</div>
<div>
  <h1 class="mb-2">Regionals</h1>
  <table class="w-full text-sm">
    <thead class="border-b border-stone-700">
      <tr>
        <td>Name</td>
        <td>Ranking</td>
        <td>Event</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Butler University '23</td>
        <td>3/10</td>
        <td>It's About Time*</td>
      </tr>
      <tr>
        <td>Butler University '23</td>
        <td>5/12</td>
        <td>Disease Detectives*</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h1 class="mb-2">Invitationals</h1>
  <table class="w-full text-sm">
    <thead class="border-b border-stone-700">
      <tr>
        <td>Name</td>
        <td>Ranking</td>
        <td>Event</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Raymond Park '24</td>
        <td>2/28</td>
        <td>Write It Do It</td>
      </tr>
      <tr>
        <td>Raymond Park '24</td>
        <td>4/25</td>
        <td>Wind Power</td>
      </tr>
      <tr>
        <td>Raymond Park '24</td>
        <td>4/12</td>
        <td>Robot Tour</td>
      </tr>
      <tr>
        <td>Raymond Park '24</td>
        <td>8/26</td>
        <td>Astronomy</td>
      </tr>
      <tr>
        <td>Rikards '24</td>
        <td>12/151</td>
        <td>Write It Do It</td>
      </tr>
      <tr>
        <td>Rikards '24</td>
        <td>67/148</td>
        <td>Detector Building</td>
      </tr>
      <tr>
        <td>Rikards '24</td>
        <td>N.A/65</td>
        <td>Robot Tour</td>
      </tr>
      <tr>
        <td>Rikards '24</td>
        <td>91/184</td>
        <td>Astronomy</td>
      </tr>
      <tr>
        <td>Raymond Park '23</td>
        <td>4/21</td>
        <td>Astronomy*</td>
      </tr>
      <tr>
        <td>Raymond Park '23</td>
        <td>12/21</td>
        <td>It's About Time*</td>
      </tr>
      <tr>
        <td>Raymond Park '23</td>
        <td>15/23</td>
        <td>Experimental Design*</td>
      </tr>
      <tr>
        <td>BullSO '23</td>
        <td>25/39</td>
        <td>Astronomy*</td>
      </tr>
      <tr>
        <td>BullSO '23</td>
        <td>22/33</td>
        <td>It's About Time*</td>
      </tr>
      <tr>
        <td>BullSO '23</td>
        <td>17/38</td>
        <td>Fermi Questions*</td>
      </tr>
    </tbody>
  </table>
  <small>* I was an alternate for these events.</small>
</div>