---
title: Scioly 🔬
dateLabel: August 2022 - present
description: A collection of all my rankings in <a href="https://scioly.org/" class="arrow-external">Scioly</a>.
---

State '24: Astro 8th, Fermi 9th, WIDI 2nd, out of 24 teams.
Regionals '24: Astronomy	WIDI	Robot, dont knowr anks

<div>
  <h1 class="mb-2">State</h1>
  <div>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Ranking</td>
          <td>Event</td>
        </tr>
      </thead>
      <tbody>
        <tr class="silver">
          <td>Indiana State '24</td>
          <td>2/24</td>
          <td>Write It Do It</td>
        </tr>
        <tr>
          <td>Indiana State '24</td>
          <td>8/22</td>
          <td>Astronomy</td>
        </tr>
        <tr>
          <td>Indiana State '24</td>
          <td>9/24</td>
          <td>Fermi Questions</td>
        </tr>
        <tr class="gold">
          <td>Indiana State '23</td>
          <td>1/14</td>
          <td>Cybersecurity†</td>
        </tr>
      </tbody>
    </table>
  </div>
  <small>† These were Trial events for the given year.</small>
</div>
<div>
  <h1 class="mb-2">Regionals</h1>
  <div>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Ranking</td>
          <td>Event</td>
        </tr>
      </thead>
      <tbody>
        <tr class="silver">
          <td>Butler University '24</td>
          <td>2/12</td>
          <td>Astronomy</td>
        </tr>
        <tr class="bronze">
          <td>Butler University '24</td>
          <td>3/12</td>
          <td>Write It Do It</td>
        </tr>
        <tr>
          <td>Butler University '24</td>
          <td>6/9</td>
          <td>Robot Tour</td>
        </tr>
        <tr>
          <td>Butler University '23</td>
          <td>5/12</td>
          <td>Disease Detectives*</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <h1 class="mb-2">Invitationals</h1>
  <div>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Ranking</td>
          <td>Event</td>
        </tr>
      </thead>
      <tbody>
        <tr class="gold">
          <td>Ivy Tech '24</td>
          <td>1/6</td>
          <td>Geological Mapping*</td>
        </tr>
        <tr class="gold">
          <td>Ivy Tech '24</td>
          <td>1/7</td>
          <td>Wind Power</td>
        </tr>
        <tr class="gold">
          <td>Ivy Tech '24</td>
          <td>1/6</td>
          <td>Astronomy</td>
        </tr>
        <tr class="bronze">
          <td>Ivy Tech '24</td>
          <td>3/7</td>
          <td>Write It Do It</td>
        </tr>
        <tr class="silver">
          <td>Raymond Park '24</td>
          <td>2/28</td>
          <td>Write It Do It</td>
        </tr>
        <tr>
          <td>Raymond Park '24</td>
          <td>4/25</td>
          <td>Wind Power</td>
        </tr>
        <tr>
          <td>Raymond Park '24</td>
          <td>4/12</td>
          <td>Robot Tour</td>
        </tr>
        <tr>
          <td>Raymond Park '24</td>
          <td>8/26</td>
          <td>Astronomy</td>
        </tr>
        <tr>
          <td>Rickards '24</td>
          <td>12/151</td>
          <td>Write It Do It</td>
        </tr>
        <tr>
          <td>Rickards '24</td>
          <td>67/148</td>
          <td>Detector Building</td>
        </tr>
        <tr>
          <td>Rickards '24</td>
          <td>N.A/65</td>
          <td>Robot Tour</td>
        </tr>
        <tr>
          <td>Rickards '24</td>
          <td>91/184</td>
          <td>Astronomy</td>
        </tr>
        <tr>
          <td>Raymond Park '23</td>
          <td>4/21</td>
          <td>Astronomy*</td>
        </tr>
        <tr>
          <td>Raymond Park '23</td>
          <td>12/21</td>
          <td>It's About Time*</td>
        </tr>
        <tr>
          <td>Raymond Park '23</td>
          <td>15/23</td>
          <td>Experimental Design*</td>
        </tr>
        <tr>
          <td>BullSO '23</td>
          <td>25/39</td>
          <td>Astronomy*</td>
        </tr>
        <tr>
          <td>BullSO '23</td>
          <td>22/33</td>
          <td>It's About Time*</td>
        </tr>
        <tr>
          <td>BullSO '23</td>
          <td>17/38</td>
          <td>Fermi Questions*</td>
        </tr>
      </tbody>
    </table>
  </div>
  <small>* I was a substitute for these events, which means I was notified around a day beforehand that I would be doing that event.</small>
</div>