---
title: Blotch 
dateLabel: February 2025
description: A Pebble watchface. <a href="https://apps.rebble.io/en_US/application/67ae29f70554c60009de76df" class="flutter arrow-external">Download</a>
---

<div class="flex flex-col sm:flex-row justify-between">
  <img
    src="{{ 'https://github.com/CobreDev/pebble-blotch/raw/main/images/screenshots/basalt-blue.png' | url }}"
    alt="A screenshot of the zWeather app"
    class="p-4 max-w-xs h-full">
  <div class="flex flex-col gap-y-4">
    <p>A user on the Rebble discord posted recently that they loved the <a href="https://apps.rebble.io/en_US/application/52aeeadab2a37d1efb000002" class="flutter arrow-external">Marked 2</a> watchface, but since the original developer's website was down they were unable to change certain settings. I decided to take this opportunity to learn how to create watchfaces for Pebble, and used a combination of my miniscule C knowledge, the Pebble developer documentation, and GitHub Copilot to write this.</p>
    <h2>Download</h2>
    <p>Want to try it out? You can install it now from the <a href="https://apps.rebble.io/en_US/application/67ae29f70554c60009de76df" class="flutter arrow-external">Rebble store</a>!</p>
  </div>
</div>