---
title: Trinity 
dateLabel: April 2025 - present
description: My Ender 3 Pro to <a href="https://www.printables.com/model/866079-trinity-v1" class="flutter arrow-external">Trinity</a> conversion.
---

<div class="flex flex-col sm:flex-row justify-between">
  <div class="flex flex-col gap-y-4">
    <p>Klipper configs available <a href="https://github.com/CobreDev/Trinity" class="flutter arrow-external">here</a>.
    <h2>The Build</h2>
    <p>This is my rendition of JackMiller's <a href="https://www.printables.com/model/866079-trinity-v1" class="flutter arrow-external">Trinity V1</a>. It's a custom 3d printer based on the Ender 3 Pro, with a CoreXY motion system based off of the Voron Trident.</p>
      <div>
        <h2>Filament</h2>
        <div>
          <table>
            <thead>
              <tr>
                <td>Filament</td>
                <td>Color</td>
                <td>Material</td>
              </tr>
            </thead>
            <tbody>
                <td>Sunlu</td>
                <td>Grass Green</td>
                <td>ABS</td>
              </tr>
              <tr>
                <td>Hatchbox</td>
                <td>Orange</td>
                <td>ABS</td>
              </tr>
              <tr>
                <td>Sunlu</td>
                <td>Black</td>
                <td>ABS</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <h2>Electronics</h2>
    <p>This printer is running a BTT Manta M5P with a BTT CB2 for the host. This is a great all-in-one solution with a pretty low footprint. I'm also running an EBB36 CANbus board on my toolhead, connected to the M5P directly.</p>
    <h2>Toolhead</h2>
    <p>I recently switched from the stock Voron Stealthburner/Clockwork 2 toolhead, to KevinAkaSam's <a href="https://kevinakasam.com/papilio/" class="flutter arrow-external">Papilio</a> belted extruder with an <a href="https://github.com/Armchair-Heavy-Industries/A4T/" class="flutter arrow-external">A4T</a> toolhead. For a hotend I'm using a TZ V6 2.0, which is a fantastic budget hotend that can use regular V6 nozzles.</p>
    <h2>Modifications</h2>
    <p>• <a href="https://www.printables.com/model/212186-ender-3-pro-90deg-heated-bed-cable-strain-relief" class="flutter arrow-external">Bed Cable Strain Relief</a>
    </p>
  </div>
</div>