---
title: zWeather ☂️
dateLabel: December 2022
description: A utilitarian weather app utilizing <a href="https://flutter.dev/" class="flutter arrow-external">Flutter</a>.
---

<div class="flex flex-col sm:flex-row justify-between">
  <img
    src="{{ '/assets/img/zweather.webp' | url }}"
    alt="A screenshot of the zWeather app"
    class="p-4 max-w-xs h-full">
  <div class="flex flex-col gap-y-4">
    <p>I made this app in December 2022, in a few days during winter break in order to learn more about mobile development and
      <a href="https://flutter.dev/" class="flutter arrow-external">Flutter</a>. I initially also had the intention of making an app that I would personally use on a day to day basis, but I found a much better solution
      <a href="https://play.google.com/store/apps/details?id=de.bendix.flux" class="flutter arrow-external">Flux</a>, and stopped working on zWeather once I felt happy with the app.</p>

    <p>zWeather utilized APIs from
      <a href="https://open-meteo.com/" class="flutter arrow-external">Open Meteo</a>
      for both getting weather info, and geocoding.
    </p>
  </div>
</div>